@model IEnumerable<Guardian_BugTracker_23.Models.Project>

@{
    ViewData["Title"] = "Project Index";
}

<h1>Project Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table id="projectTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectPriority)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageFileData)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageFileType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Archived)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Company)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectPriority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageFileData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageFileType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Archived)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        @if(item.Archived != true)
                        {                        
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                        else
                        {
                            <a asp-action="Restore" asp-route-id="@item.Id">Restore</a>
                        }
                    </td>
            </tr>
    }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#projectTable').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true
            });
        });
    </script>
}

